:root {
    --yellow: #ffed0a;
    --black: #0f0f0f;
    --black2: #191919;

    --off-white: #f1f1f1;
    --off-white2: #dedede;
    --off-white3: #cecece;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: bold;
}


.prisco-right {
    position: relative;
}

.prisco-img {
    height: 500px;
}

.float {
    display:"hidden";
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 999999999999999;
}

.my-float {
    margin-top: 16px;
}

.prisco-name {
    font-size: 30px;
    margin-top: 5px;
    color: var(--off-white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {

    background-color: var(--black);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 10px;
    color: var(--off-white);
    z-index: 99909;
}

.nav-container-mobile {
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 10px;
    color: var(--off-white) !important;
    z-index: 999;

}

.container {
    width: 80%;

    margin: auto;
}



.nav-links a {
    color: var(--off-white3);
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 14px;
    z-index: 99999;
    padding: 20px 0;

}

.nav-links-mobile {
    display: none;
    position: relative;
    z-index: 9999;
}

.nav-links-mobile a {

    display: flex;
    flex-direction: column;
    color: var(--off-white) !important;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 14px;
    padding: 20px 0;
    z-index: 99999;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);

}

.prisco-cta {
    background-color: var(--yellow);
    padding: 10px 20px;
    color: var(--black);
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;

}

.prisco-cta:hover {
    box-shadow: 0px 0px 15px var(--yellow);
}

.new::after {
    /* box-shadow: inset 0px 0px 5px var(--yellow); */
    /* box-shadow: inset 0px 0px 5px rgba(252, 136, 3, 1);; */

    content: "new";
    border: 2px solid var(--yellow);
    /* border: 1px solid rgba(252, 136, 3, 1);; */
    width: fit-content;
    position: absolute;
    padding: 5px 10px;
    border-radius: 14px;
    color: var(--yellow);
    top: 15px;
    font-size: 14px;
    right: 15px;
}

.nav-links a:hover {
    color: var(--yellow);
}

.call {
    transition: 0.5s;
    border: 2px solid var(--yellow);
    cursor: pointer;
    color: var(--yellow);
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 90px;
    height: 90px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: var(--off-white);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.logo-text h2 {

    font-size: 20px;
}

.hero {
    height: 85vh;
    display: flex;
}

.location p {
    margin: 0 !important;
    margin-left: 5px !important;

}

.location {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: var(--off-white3);
}

.location-icon {

    height: 20px !important;
    width: 20px !important;
    color: var(--yellow);
}

.hero img {
    width: 400px;
    height: 400px;
}

.left, .right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.right {
    flex-basis: 70%;
}

.right {
    color: var(--off-white);

}

.right h1 {
    font-size: 90px;
    line-height: 0.9;
}

.right h1::after {
    margin: 5px 0;
    display: block;
    content: "";
    height: 2px;
    background: var(--yellow);
    width: 50px;
}

.right p {
    margin-top: 10px;
}

.services-btn, .call-btn {
    background-color: var(--black);
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;

}

.cta-buttons {
    margin-top: 20px;
}

.services-btn {
    /* background-color: var(--yellow); */
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    cursor: pointer;
    color: var(--black);
    font-weight: 600;


}

.services-btn img {
    width: 30px;
    height: 30px;
}

.call-btn {
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    color: var(--black);
}

/* .hero{
    box-shadow: 0px 0px 10px rgba(225, 225, 225, .5);
} */

/* .cbum{
    position: absolute;
    object-fit: contain;
    left: 0;
    bottom: 0;
z-index: -1;
} */

.container {
    background-image: url(../images/cbum-dark.png);
    /* background-image: url(../images/abs-gym.jpeg); */
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    background-position-y: 20px;
    /* box-shadow: inset 0px 0px 550px var(--black); */
}

/* Second Section */
.section {
    min-height: 100vh;
    /* background-color: var(--off-white); */
    background-color: var(--black);
}

.section-container {
    width: 80%;
    margin: auto;
    padding: 20px;

}

.section-container h1 {
    font-size: 40px;
}

.programs-card-container {
    display: flex;
    margin: 20px 0;
    margin-top: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;


}

.carousel__item__image {
    position: relative;
}

.carousel__item__image::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 15px var(--black);
    position: absolute;
    top: 0;
    left: 0;

}

.programs-card:hover {
    box-shadow: inset 0px 0px 10px var(--yellow);
}

.programs-card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    width: 280px;
    height: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--black2);
    border-radius: 20px;
    text-align: center;
    margin: 20px 0;
    justify-content: space-between;

}

.muscle-gain {
    color: red;
}

.card-svg {
    width: 50px;
    height: 50px;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}

.card-title {
    /* color: var(--black); */
    color: var(--off-white);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 25px;
    flex-basis: 10%;
    margin-bottom: 3px;
}

.card-info {
    color: var(--off-white2);
    font-size: 12px;
    flex-basis: 20%;


}

.card-icon img {
    height: 55px;
    width: 55px;
}

.card-btn {
    background-color: var(--black2);
    color: #ffed0a;
    outline: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    flex-basis: 10%;

}

.fitness-title {
    color: var(--off-white);
    background-color: var(--black);
    padding: 10px;
    border-radius: 10px;

}

.fitness-title span {
    border-left: 5px solid #ffed0a;
    padding-left: 10px;
}

.review-container {
    display: flex;
}

.review-left {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: stretch;
    padding: 50px;
}

.review-left h1 {
    text-align: center;
    letter-spacing: 4px;
}

.review-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
    padding: 50px;
    flex-direction: column;
    padding-top: 10px;

}

.review-card {
    display: flex;
    flex-direction: column;
    /* background-color: var(--black); */
    background-color: var(--off-white);
    padding: 20px;
    /* color: var(--off-white); */
    color: var(--black);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: stretch;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    text-decoration: none;

}

.customer-profile {
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
}

.customer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.stars img {
    height: 20px;
}

.stars {
    display: flex;
    flex-direction: column;
}

.customer-img img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#review-section {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

#review-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.google-review img {
    height: 40px;
}

.abs-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.abs-logo-container img {
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

/* carousel */

.slideshow-container {
    position: relative;
    margin-bottom: 25px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    /* position: absolute; */
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    user-select: none;
    margin: 0 40px;
    border-radius: 50%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.next {
    right: 0;

}



.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;

}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--off-white);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.active, .dot:hover {
    background-color: var(--black);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* carousel end */



/* gym container */

#gym-section-container {
    display: flex;
    padding: 50px;
    align-items: center;
}

.gym-left, .gym-right {
    flex-basis: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gym-middle {
    flex-basis: 40%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gym-left img, .gym-right img {
    border-radius: 20px;
    width: 330px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.gym-middle img {
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

}

.gym-img-container {
    position: relative;

}

.gym-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-floor-text {
    bottom: -80px;
    right: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    background-color: var(--off-white);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

/* gym container end */


/* gallery carousel */

.carousel {

    padding: 24px;
}

.carousel h2 {
    margin: 0;
}

.carousel a {
    text-decoration: none;
    color: #fff;
}

.cb {
    color: var(--yellow) !important;
    font-size: 25px !important;

}

.carousel img {
    /* aspect-ratio: 1/1; */
    /* aspect-ratio: 1; */
    width: 350px;
    height: 350px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
    margin-bottom: 16px;
    border-radius: 10px;
    object-fit: cover;
    /* border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 4px); */
}

.carousel h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 4px;
}

.carousel span {
    color: #a7a7a7;
    font-size: 14px;
}

.carousel .dragging a {
    pointer-events: none;
}

.carousel .carousel__wrapper {
    position: relative;
    margin-bottom: 24px;
}

@media only screen and (min-width: 1180px) {
    .carousel .carousel__wrapper.has-arrows .carousel__content {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1180px) {
    .carousel .carousel__wrapper.has-arrows .carousel__arrows {
        display: flex;
    }
}

.carousel .carousel__header {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.carousel__content {
    /* transform: translateX(20%); */
    flex-basis: 60%;

}

.carousel .carousel__content {
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    padding: 0;
    margin: 0;
    grid-gap: 24px;
    grid-auto-flow: column;
    list-style: none;
}

.carousel .carousel__content::-webkit-scrollbar {
    display: none;
}

.carousel .carousel__item .carousel__description {
    width: 100%;

}

.carousel .carousel__item a {

    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    user-select: none;
    margin: 10px 0px;
    padding: 16px;
    background: #181818;
    border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 8px);
    cursor: pointer;
}

.carousel .carousel__controls {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
}

.carousel .carousel__arrow {
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}

.carousel__arrow .arrow-prev .disabled {
    padding: 0;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    font-size: 50px;

}

.disabled {
    color: gray !important;
}

.ci2 {
    transform: translateX(0%);

}

.carousel .carousel__arrow:before {
    content: "";
    /* background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo="); */
    background-size: contain;
    filter: brightness(5);
    display: block;
    width: 18px;
    height: 12px;
    cursor: pointer;
}

.carousel .carousel__arrow.arrow-prev:before {
    transform: rotate(90deg);
}

.carousel .carousel__arrow.arrow-next:before {
    transform: rotate(-90deg);
}

.carousel .carousel__arrow.disabled::before {
    /* filter: brightness(2); */
    color: #a7a7a7;
}


#gym-section-container2 {
    background: linear-gradient(0deg, #121212 0%, #1e1e1e 100%);
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    /* flex-direction: column; */
    overflow-x: hidden;
}

.carousel-container {
    max-width: 100vw;
    position: relative;
}

.carousel-info {
    flex-basis: 40%;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.carousel-info h1 {
    font-size: 80px;
}

.gallery-btn:hover {
    box-shadow: 0px 0px 15px var(--yellow);
}

.gallery-btn {
    border: none;
    padding: 10px;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.c-div {
    display: flex;
}

/* gallery carousel end*/


#socials-section-container {
    position: relative;
    display: flex;
    /* padding: 20px; */
    align-items: center;
    justify-content: center;
}

.socials-left h1 {
    /* align-self: start; */
    text-align: center;
    margin-bottom: 50px;
}

.socials-left {
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
    flex-basis: 20%;
    /* background: linear-gradient(#5B00C4,#D00049); */
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.social-media-btns {
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.socials-icons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-right: 0;
}

.insta3dup {
    display: none;
}

.socials-right {
    z-index: 9991;
    flex-basis: 80%;
    /* background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%); */
    /* background: linear-gradient(#00c6ff, #006eff); */
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 10% 180%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}

#facebook-open {
    height: 100%;
    width: 100%;
    background: linear-gradient(#00c6ff, #006eff);
    padding: 60px;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    display: flex;
    justify-content: center;
    align-items: center;

}

.quals li {
    padding: 2px;
}

.insta-info-left, .insta-info-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.insta-info-left {
    flex-direction: column-reverse;
}

.insta-info-right {

    height: 100%;
    width: 100%;
    background-color: #fff;
    /* padding: 10px; */
}

#insta-open {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 10% 180%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

    padding: 60px;
    display: none;
    justify-content: center;
    align-items: center;

}

.instagram-img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    height: 550px;

}

.follow-fb-title {
    width: 200px;
    font-size: 40px;
    text-align: center;
    color: var(--off-white);
    display: block;
    margin: 0px 20px;
    width: 100%;
}

.insta-info {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* backdrop-filter: blur(51px); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* padding: 20px; */
    margin: 0 20px;
    border-radius: 10px;
    /* flex-direction: column; */
    height: 100%;
    width: 100%;
}

.insta-info h1 {
    color: var(--off-white);
    font-size: 40px;
    text-align: center;
    z-index: 9999;
}

.socials-center {
    top: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--off-white); */
    color: var(--off-white);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 400px;
    backdrop-filter: blur(5px);
}

.socials-center h1 {
    text-align: center;
    font-size: 50px;
}


.insta-follow-btn {

    width: 230px;
    padding: 10px;
    background: radial-gradient(circle at 10% 180%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 10px;
    color: var(--off-white);
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    cursor: pointer;

}

.insta-embed {
    /* position: absolute;
    bottom:0;
    background-color: #fff;
    right: 20px; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    background-color: #fff;
}

.insta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fb-follow-btn {

    width: 230px;
    padding: 10px;
    /* background: radial-gradient(circle at 10% 180%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    background: linear-gradient(#00c6ff, #006eff);
    border-radius: 10px;
    color: var(--off-white);
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    cursor: pointer;

}

#mobile-navs {
    display: none;
}

.video-testimonials {
    display: flex;
}

.video-left, .video-right {
    flex-basis: 50%;
    padding: 30px 0;
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-section {
    width: 80%;
    margin: auto;
}

.video-section h1 {
    color: var(--off-white);
}

.video-title {
    border-left: 4px solid var(--yellow);
    margin-left: 30px;

}

.video-title h1 {
    margin-left: 5px;
}

.video-left-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.video-left {
    flex-basis: 100% !important;
    border-radius: 20px;
    margin-right: 20px;
    padding: 30px;
    background-color: var(--black2);
}

.video-left h1::after {
    content: " ";
    color: red;
    display: block;
    width: 40px;
    background-color: var(--yellow);
    height: 2px;
    margin-bottom: 5px;
}

.location-left {
    flex-basis: 60%;
    padding: 20px;
}

#location-section {
    margin: auto;
    padding: 30px;
    flex-direction: column;
}

.location-container {
    display: flex;
    height: 100%;

}

.location-right h1 {
    text-align: center;
}

.location-right {
    flex-basis: 40%;
    padding: 20px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;

}

.google-map {
    box-shadow: 0 0 15px rgba(0, 0, 0, .35) !important;

}

.table-container {
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .35) !important;
    background-color: #fff;
    border: none;
    margin: 20px 0;
    margin-top: 0;
}

.table-header h1 {
    padding: 0 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: var(--off-white);

}

th, td {

    border: 1px solid black;
    text-align: left;
    border: none;
    padding: 20px;


}

td {
    font-size: 14px;
}

tr {
    border-bottom: 1px solid gainsboro;
}

th {
    font-size: 30px;
}

.day {
    font-weight: 600;
    font-size: 18px;

}

.today {
    background-color: #f0f551;
}

tr td:nth-child(2) {
    text-align: right;
}

.active-social, .active-social-i {
    border: none;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.active-social::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #0097ff;
    /* border-right: 50px solid var(--black); */
    border-bottom: 25px solid transparent;
    border-radius: 10px;
    display: block;

}

.active-social-i::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #ef4568;
    /* border-right: 50px solid var(--black); */
    border-bottom: 25px solid transparent;
    border-radius: 10px;
    display: block;

}

.social-media-btns {
    position: relative;
    z-index: 9990;
}

.visible {
    display: flex !important;
}

.external-review {
    background-color: #fff;
    color: var(--black);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 15px;
}

.grayit {
    font-size: 20px;
    margin-left: 5px;
    color: var(--off-white3) !important;
}

#trainer {
    width: 80%;
    margin: auto;
    color: var(--off-white);
    display: flex;
    padding: 30px;
    height: 100vh;
    padding-top: 0;
}

#prisco-container {
    width: 80%;
    margin: auto;
    color: var(--off-white);
    display: flex;
    padding: 30px;
    height: 100vh;
    padding-bottom: 0;
}

.prisco-left h1 {
    font-size: 40px;
    margin-bottom: 10px;

}

.prisco-left, .prisco-right {
    display: flex;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prisco-left {
    justify-content: center;
    align-items: start;
}

.prisco-left h1 {
    border-left: 3px solid var(--yellow);
    padding-left: 5px;

}

.hero .right {
    animation: 1s linear appear;
}

navbar {
    animation: 1s linear appear2;

}

@keyframes appear {
    0% {
        transform: translateX(50px);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes appear2 {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}

.call:hover {
    background-color: var(--yellow);
    color: var(--black);

}

.services-btn:hover {
    box-shadow: 0px 0px 15px var(--yellow);
}

.carousel-info h1::after {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--yellow);
    width: 100px;
    margin: auto;
}



.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid var(--yellow);
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--off-white);
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    padding-left: 5px;
}

.accordion button:hover {
    cursor: pointer;
    border-left: 5px solid transparent;
    color: var(--off-white);


}

.accordion button:focus {
    cursor: pointer;
}

.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 22px;
    color: var(--yellow);

}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
}

.faqtitle::after {
    content: "";
    width: 25%;
    background-color: var(--yellow);
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 2px;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded=true] {
    color: var(--off-white);
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
    color: var(--yellow);

}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    padding-left: 5px;
}

#faq-section {
    height: 100vh;
    width: 60%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel .carousel__controls {
    margin-right: 30px;
    user-select: none;
}

.carousel-info h1 {
    font-size: 60px;

}

.dots-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.burger-container {
    display: inline-block;
    cursor: pointer;
    z-index: 99999;
}

.fitness-price {
    color: var(--off-white3);
    text-align: center;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--off-white);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#package-section {
    background-color: var(--black2) !important;
    color: var(--off-white3);
}

.package-title {
    font-weight: bold;
    font-size: 30px;
    padding-left: 5px;
    border-left: 3px solid var(--yellow);
    margin-top: 40px;
    margin-bottom: 10px;
}

.package-desc {
    padding-left: 8px;
}

.package-list {
    padding-left: 13px;
}

.package-desc p {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
    .prisco-left p {
        margin-left: 0 !important;
    }

    .fitness-title span {
        border-left: 0;
        padding-left: 0;
        text-align: center;
        display: block;
    }

    .fitness-title span::after {
        content: "";
        display: block;
        background-color: var(--yellow);
        width: 50px;
        margin: auto;
        height: 2px;
        margin-top: 15px;
    }

    .section {
        flex-direction: column;
    }

    .video-title {
        border-left: 0;
        text-align: center;
    }

    video {
        height: 250px;
        margin-bottom: 50px;
    }

    .container {
        margin: 0 !important;
        width: 100% !important;
    }

    .right {
        margin-bottom: 0 !important;
    }

    .video-title::after {
        content: "";
        display: block;
        background-color: var(--yellow);
        width: 50px;
        margin: auto;
        height: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .video-left, #josto {
        margin: 10px !important;
    }

    #prisco-container {
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .review-container, .c-div, .insta-info {
        flex-direction: column;
    }

    .video-testimonials {
        flex-direction: column !important;

    }

    .video-right {
        justify-content: start;
        align-items: center;
        padding: 0;
        height: auto;
    }

    .location-container {
        flex-direction: column-reverse;
    }

    .insta3dup {
        display: inline-block;
    }

    .location-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #review-section {
        margin: 15px 10px;
        padding: 15px;
    }

    .review-content p {
        font-size: 14px;
    }

    .customer-name h4 {
        font-size: 13px;
    }

    .google-review img {
        height: 35px;
    }

    .customer-info {
        align-items: center;
        margin-bottom: 5px;
    }

    .customer-profile {
        margin-bottom: 0;
    }

    #gmap {
        width: 100% !important;
        height: 500px !important;
    }

    #prisco-container {
        flex-direction: column !important;
        height: auto !important;
    }

    #trainer {
        height: auto;
    }

    .prisco-img {
        height: 300px !important;
        margin-bottom: 20px;
        object-fit: contain;
    }

    .programs-card-container {
        justify-content: center;
    }

    #faq-section {
        width: 95%;
        margin: auto;

    }

    .social-btns-container {
        display: flex;
        flex-direction: column;
    }

    .accordion-title {
        width: 70%;
    }

    .accordion-item {
        width: 100%;
    }

    .right h1 {
        font-size: 50px;
        margin-top: 20px;
    }

    .container {
        margin: 0;
        background-position: center center;
        width: 95%;
        margin: auto;
        text-align: left;
        height: fit-content !important;
        /* background-size: cover; */
    }

    .hero {
        height: 100vh;
    }

    .review-left h1 {
        font-size: 35px !important;
        letter-spacing: 2px;
    }

    .section-container {
        margin: auto;
        width: 95%;

    }

    .review-right {
        padding: 0;
    }

    .programs-card {
        width: 90%;
        height: 300px;
    }

    .card-svg {
        height: 150px;
        object-fit: contain;
    }

    .video-right video {
        width: 400px;
    }

    .socials-section-container {
        width: 100vw;
    }

    .socials-right {
        width: 100%;
    }

    .review-left {
        padding: 0;
    }

    .carousel .carousel__controls {
        margin-right: 0;
    }

    .container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .right {
        z-index: 999;
        width: 100%;
        flex-basis: 100%;
    }

    #vid-testimonial {
        margin: 0 10px;
        width: 100%;
    }


    .video-left {
        width: 100%;
        padding: 20px;
    }

    .prisco-right img {
        width: 350px;
        height: auto;
    }

    #vid-testimonial {
        margin: 0;
    }

    .insta-info-right {
        background-color: transparent !important;
    }

    .video-title {
        margin: 0;
    }

    #trainer {
        width: 95%;
        margin: auto;
    }

    .logo-text {
        z-index: 999;
        justify-content: start;
        align-items: start;
        font-size: 14px;
    }

    .nav-container-mobile::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.15);
    }

    .nav-container-mobile {
        display: flex;
        padding: 20px;
    }

    .call, .nav-links-mobile a:last-child {
        font-size: 16px !important;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        background-color: var(--yellow) !important;
        color: var(--black) !important;
    }

    .nav-container {
        display: none;
    }

    .prisco-cta {
        margin-bottom: 20px;
    }

    .quals {
        margin-top: 30px !important;
        margin-left: 15px !important;

    }

    .prisco-left h1 {
        margin-top: 30px;
        font-size: 35px;
        text-align: center;
        border-left: 0;
        border-bottom: 0px !important;
        width: 100%;

    }

    #facebook-open, #insta-open {
        padding: 30px 20px;
    }

    .video-left h1::after {
        margin-top: 5px;
    }

    #location-section {
        padding: 10px !important;
    }

    .prisco-left h1::after {
        content: "";
        display: block;
        background-color: var(--yellow);
        width: 100%;

        margin: auto;
        height: 2px;
        margin-top: 12px;
    }

    .prisco-left h1 span {
        display: block;
    }

    .socials-left {
        padding: 20px;
    }

    .insta3d {
        display: none;
        position: relative;
    }

    .active-social-i::after {
        top: 30px;
        left: 24px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #285aeb;
    }

    .customer-name {
        align-items: flex-start !important;
    }

    .active-social::after {
        top: 30px;
        left: 24px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #00c6ff;
    }

    .fb-phone-container img {
        height: 100px !important;
        width: auto !important;
        object-fit: contain;
    }

    .socials-left h1 {
        margin-bottom: 0;
    }

    .follow-fb-title {
        font-size: 25px;
    }

    .instagram-media {
        width: 300px !important;
    }

    #facebook-handle {
        margin-right: 10px;
    }

    .socials-left img {
        height: 80px !important;
    }

    .customer-profile, .customer-img, .customer-name, .customer-info {
        height: 52px !important;
    }

    .customer-name img {
        height: 15px !important;
        width: 100px !important;
    }

    .insta-container img {
        height: 80px;
        width: auto;
        object-fit: contain;
    }

    .insta-container h1 {
        font-size: 25px !important;
    }

    .social-btns-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social-btns-container button {
        font-size: 14px;
        width: auto;
        padding: 20px;
        color: var(--black) !important;
    }

    .carousel-info h1 {
        font-size: 40px;
    }

    .carousel-info h1::after {
        margin-top: 5px;
    }

    .video-title {
        font-size: 20px;
    }

    .accordion-item button {
        display: flex;
        align-items: center;
    }

    .accordion-item span {
        display: block;
    }

    .accordion-title {
        flex-basis: 90%;
    }

    .table-container {
        width: 300px;
    }

    .accordion button .accordion-title {
        padding: 0;
    }

    #trainer {
        padding: 0 20px;
    }

    .quals li {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .video-right video {
        width: 300px !important;
    }
}