Landing Page.
Abs Logo - Info
Prisco

Credibility 
About Gym Building
First Floor, Second Floor

About 
Trainer-Prisco

Services - FLIP effect

GYM TIMINGS and Location

Testimonies


Reviews

Events Organized


Follow Our Social

About Our Trainers

Once upon a time in 1997, there was a young guy named Prissco Sequeira. He was just 17 years old when doctors told him he had a tumor in his right ankle. They said they might need to remove his leg, but luckily, they found a way to take out the tumor without losing his leg.

After the surgery, the doctors told Prissco he couldn't do sports or other active things. He spent a whole year resting and getting better. During this time, he found an old album with a strong picture of his dad. This made him curious about becoming strong too.

Prissco really wanted to make his dad's dream of becoming a bodybuilder come true. He started trying to exercise on his own, but when he went to the gym, some people made fun of him because of his leg. He didn't give up though. He found a new gym and met a coach named Pascoal Noronha. Pascoal saw potential in Prissco and started training him.

With Pascoal's help, Prissco joined bodybuilding competitions. In 2001, he won a title called Mr. Goa. He didn't stop there. Even while working on ships, he kept competing in bodybuilding when he had time off. But in 2009, something bad happened. Prissco had an accident that made him think about his life. He realized he wanted to help others be healthy and fit.

He left his ship job and opened a gym in his village. He named it ABS Fitness Zone Gym after his parents. He wanted to teach young people how to be strong in a natural way, without using bad stuff.

Nowadays, Prissco is a certified trainer who owns the gym. He's been doing this for 30 years! He makes special exercise and food plans for each person. He learns new things all the time so he can help people better. Being fit not only made him strong but also helped him change many lives. His wife Elena, who is good at Zumba, supports him too. Together, they help people become healthier and achieve their goals. And they all lived healthily ever after.